.user-header
  .icon
    = link_to user_icon(user, 48), user
  .main
    %h2
      = user.name
    = link_to "http://twitter.com/#{user.name}", :class => "icon-social", :target => "_blank" do
      %i.icon-twitter-sign
    .profile
      = user.profile
    .stats
      %i.icon-fire
      = "登録エフェクト%d個" % user.effects.count
      \/
      %i.icon-star
      = "お気に入りエフェクト%d個" % user.favorites.count
      \/
      %i.icon-flag
      = "関わった高専カンファレンス%d個 (参加%d、運営%d、発表%d、視聴%d、ドラ娘%d)" % [user.contributions.count, [:attendee, :staff, :talker, :watcher, :dorar].map { |role| user.contributions.where(role => true).count}].flatten
