.user-header
  .icon
    = link_to user_icon(user, 48), user
  .main
    %h2
      = link_to user.name, user
    = link_to "http://twitter.com/#{user.name}", "http://twitter.com/#{user.name}", :target => "_blank"
    .profile
      = user.profile
