.user-header
  .icon
    = link_to user_icon(user, 48), user
  .main
    %h2
      = user.name
    = link_to "http://twitter.com/#{user.name}", :class => "icon-social", :target => "_blank" do
      %i.icon-twitter-sign
    .profile
      = user.profile
    .links
      = link_to user do
        %i.icon-fire
        = "登録エフェクト%d個" % user.effects.count
      \/

      - text = "お気に入りエフェクト%d個" % user.favorites.count
      - if user.favorites.empty?
        %i.icon-star
        = text
      - else
        = link_to favorites_user_path(user) do
          %i.icon-star
          = text
