.row
  .span12
    .lab{ :style => "margin-bottom: 50px;" }
      = link_to "エントリを登録する", new_entry_path
      \/
      = link_to "イベントを登録する", new_event_path

.row
  .span8
    .lab{ :style => "margin-bottom: 50px;" }
      %ul
        - @events.each do |event|
          %li
            = link_to event.name, event

  .span4
    .lab{ :style => "margin-bottom: 50px;" }
      %ul
        - @entries.each do |entry|
          %li
            = link_to "エントリ:#{entry.id}", entry

.row
  .span12
    #message
      .block
        %h3
          はじめに
        %p
          2008年6月14日、土曜日。すべてのはじまりとなる、最初の「高専カンファレンス」が開催されました。あれから4年近くが経ち、現在では、開催は40回を越え、総参加者数も3000人に迫ろうとしています。
        %p
          さて、そんな高専カンファレンスですが、初回から関わっている人からしても「高専カンファレンスとは、なんなのか」を上手に説明することは、とても難しいことと感じます。考えてもみれば、それもそのはず。第2回の時点で、すでに第1回とは実行委員会が異なっていて、その後も、開催ごとに別々の組織で企画と運営がなされてきたため、もはや「高専カンファレンスのすべて」を知っている人は、ただのひとりもいません。
        %p
          では「高専カンファレンスとは、なんなのか」に答えることはできないのでしょうか。答えられないとすれば、たとえば、これから身のまわりの誰かに高専カンファレンスを紹介しようと思ったときに、とても不便なはずです。楽しさを伝えたいのに、うまく説明できなくて伝えられなかった──そんな経験を持っている人もいるのではないでしょうか。
        %p
          ぼくは、高専カンファレンスにたしかな価値を感じています。いくつもの「高専カンファレンス」と呼ばれる「場」で、たくさんの人たちがいきいきと活動する姿を見てきたからです。その場に居合わせたすべての人たちの中に、高専カンファレンスはたしかに存在していて、それぞれに、なんらのか「影響」を受けている、そんなふうに感じています。
        %p
          であれば、その「影響」を、ひとつでも多く知ってみたい。高専カンファレンスがこれまでに及ぼしてきた数え切れないほどの「影響」を、もっともっと知ってみたい。それらの「影響」の集合体が、まさに高専カンファレンスそのものなのではないでしょうか。「高専カンファレンスとは、なんですか」と問われたときに「こんな影響を生み出してきたものです」と答えるのは、ひとつの誠実な態度だと考えます。
        %p
          高専カンファレンスが4歳のバースデイを迎えるタイミングで、みなさんと一緒に、これまでに「起きたこと」を通して、あらためて「高専カンファレンスとは、なんなのか」を考えてみたいと思います。題して「高専カンファレンスエフェクト」です。高専カンファレンスのこれまでの4年間をふりかえり、そして、これからを考える、とびきりハッピーなお祭りを開催します。
        %p.credit
          2012年4月1日、Team KCEffect を代表して june29 より

      .block
        %h3
          開催概要
        %ul
          %li
            開催期間 : 2012年6月9日(土) 〜 2012年6月16日(土)
          %li
            開催形態 : オンライン参加型のイベントにします。
          %li
            参加方法 : 当サイト上で「あなたが受けたエフェクト」を募集します。詳細は、続報をお待ちください。
          %li
            公式タグ : Twitter のハッシュタグ「#kosenconf」、ソーシャルブックマーク等のタグ「kceffect」

      .block
        %h3
          やりたいこと、やれたらいいなぁと思っていること
        %ul
          %li
            これまでの高専カンファレンスに関するあらゆるものを一望できる場所をつくりたい。
          %li
            それぞれの人が「自分が受けたエフェクト」を投稿して共有できるようにしたい。
            %ul
              %li
                ひとつずつ、どの開催から受けたエフェクトなのかわかるようにしたい。
              %li
                「○○さんが受けたエフェクト」の他に「001tokyo から生まれたエフェクト」みたいに、開催ごとに閲覧できるようにしたい。
          %li
            それぞれの人が「自分の高専カンファレンス歴」をきれいにまとめられる場所にしたい。
            %ul
              %li
                ブログの記事、発表資料、発表時の動画などなど、なんでも投稿できるようにしたい。
          %li
            投稿されたエフェクトに対して「お気に入り (Fav / Like / Star)」できるようにし、ポジティブなフィードバックが巡るようにしたい。
          %li
            「各開催の実行委員長」などのおもしろい人たちのインタビューを動画で集めたい。
          %li
            各開催の実行委員会が、もう一度、開催当時をふりかえってみる機会になるといいかも。
            %ul
              %li
                (参加を希望する場合は)各開催から写真と動画をひとつずつ選んで送ってもらうとか。
          %li
            最終日には、Ustream で番組の放送を行い、集まったエフェクトの総括を行いたい。
          %li
            色んな部門のアワードを用意して、様々な角度からエフェクトをピックアップしてフィーチャーしたい。
          %li
            全国各地にサテライト会場を展開してもらい、各会場ごとにどのエフェクトがお気に入りか選んでもらうとおもしろいかも。
          %li
            これからの開催に関わっていく人たちが「自分はどんなエフェクトを起こしたいか」を考えたくなる場所にしたい。

      .block
        %h3
          Team KCEffect
        .members
          %span.member
            %img{ :src => "http://twimg0-a.akamaihd.net/profile_images/1750969011/20111219-2_normal.jpg", :width => 48, :height => 48 }
            %a{ :href => "http://twitter.com/june29" } @june29
            %span.role 企画・監修・雑務
          %span.member
            %img{ :src => "http://twimg0-a.akamaihd.net/profile_images/1491871238/kengo05_normal.png", :width => 48, :height => 48 }
            %a{ :href => "http://twitter.com/hmsk" } @hmsk
            %span.role 動画アーカイブ整理
        .joinus
          「自分もこのお祭りを盛り上げたい！」という方は、どんなことをやりたいかを添えて、お気軽に
          %a{ :href => "http://twitter.com/june29" } @june29
          までお声掛けください。

      .block
        %h3
          最新情報
        %ul
          %li
            Google Groups :
            %a{ :href => "http://groups.google.com/forum/?fromgroups#!forum/kosenconf", :title => "KosenConference - Google Groups" }
              KosenConference
          %li
            Twitter :
            %a{ :href => "http://twitter.com/kosenconf", :title => "高専カンファレンス (kosenconf) on Twitter" }
              @kosenconf
          %li
            Facebook :
            %a{ :href => "http://www.facebook.com/kosenconf", :title => "高専カンファレンス" }
              高専カンファレンス
        %p
          上記の場所にて、更新情報を発信していきます。興味をお持ちの方は、どうぞチェックしておいてください。

= render "widgets"
