.row
  .span12
    #cover
      - @covers.each_with_index do |cover, index|
        = image_tag(cover, :size => "312x156", :class => "photo photo#{index}")
      %h1
        高専カンファレンスエフェクト
      #stats
        .stat
          .caption
            %i.icon-flag
            開催イベント数
          .count
            = Event.count
        .stat
          .caption
            %i.icon-user
            総参加者数
          .count
            = Event.sum(:turnout)
        .stat
          .caption
            %i.icon-fire
            登録エフェクト
          .count
            = Effect.count

.row
  .span12
    #users-on-top
      .user-icons
        = render :partial => "users/cube", :as => :user, :collection => @users, :locals => { :size => 36 }


#effects-on-top
  .row
    .span12
      %h3
        %i.icon-fire
        新着のエフェクト
  = render :partial => "effects/introduction"
  .row
    .span6
      .effect-board-box
        = render :partial => "effects/board", :as => :effect, :collection => @effects[0..2]
    .span6
      .effect-board-box
        = render :partial => "effects/board", :as => :effect, :collection => @effects[3..5]

#tags-on-top
  .row
    .span12
      %h3
        %i.icon-tags
        エフェクトに付けられたタグ
      = render :partial => "tags/list", :as => :tag, :collection => @tags

#events-on-top
  .row
    .span12
      %h3
        %i.icon-flag
        最近開催された高専カンファレンス
      .event-banner-box
        - @events.each_with_index do |event, index|
          = render :partial => "events/banner", :as => :event, :object => event, :locals => { :mode => index % 2 == 1 ? "right-side" : nil }
      .more-events
        = link_to events_path do
          %i.icon-flag
          高専カンファレンスの一覧を見る

