.row
  .span12
    #cover
      - @covers.each_with_index do |cover, index|
        = image_tag(cover, :size => "312x156", :class => "photo photo#{index}")
      %h1
        高専カンファレンスエフェクト
      #stats
        .stat
          .caption
            イベント開催数
          .count
            = Event.count
        .stat
          .caption
            総参加者数
          .count
            = Event.sum(:turnout)
        .stat
          .caption
            登録エフェクト
          .count
            = Effect.count

.row
  .span8
    .lab{ :style => "margin-bottom: 50px;" }
      = link_to "エフェクトを登録する", new_effect_path
      \/
      = link_to "イベントを登録する", new_event_path

  .span4
    .tag-index
      - @tags.each do |tag|
        = link_to tag.name, tag, :class => "tag-link"

#intro
  .row
    .span4
      %h3
        %i.icon-info-sign
        このサイトは？
      %p
        これまでに開催された高専カンファレンスのまわりで起こったことを、みんなの手で、ひとつずつまとめていくサイトです。

    .span4
      %h3
        %i.icon-search
        エフェクトを見る
      %p
        関わってきた人たちによって登録されたエフェクトを「開催ごと」「人ごと」「タグごと」に探して見ることができます。

    .span4
      %h3
        %i.icon-pencil
        エフェクトを載せる
      %p
        あなたが体感したエフェクトを、ぜひ登録してみてください！他のみんなと共有して、よりよいエフェクトにつなげていきましょう。

.row
  .span12
    %h3
      これまでの開催
    .event-banner-box
      - @events.each_with_index do |event, index|
        = render :partial => "events/banner", :as => :event, :object => event, :locals => { :mode => index % 2 == 1 ? "right-side" : nil }

.row
  .span6
    %h3
      みんなのエフェクト
    .effect-board-box
      = render :partial => "effects/board", :as => :effect, :collection => @effects
