.row
  .span12
    .lab{ :style => "margin-bottom: 50px;" }
      = "全%d開催" % Event.count
      \/
      = "総参加者数 約%d人" % Event.sum(:turnout)
      \/
      = "全%dエフェクト" % Effect.count

.row
  .span8
    .lab{ :style => "margin-bottom: 50px;" }
      = link_to "エフェクトを登録する", new_effect_path
      \/
      = link_to "イベントを登録する", new_event_path

  .span4
    .tag-index
      - @tags.each do |tag|
        = link_to tag.name, tag, :class => "tag-link"

.row
  .span12
    %h3
      これまでの開催
    .event-banner-box
      - @events.each_with_index do |event, index|
        = render :partial => "events/banner", :as => :event, :object => event, :locals => { :mode => index % 2 == 1 ? "right-side" : nil }

.row
  .span6
    %h3
      みんなのエフェクト
    .effect-board-box
      = render :partial => "effects/board", :as => :effect, :collection => @effects
