.row
  .span12
    .lab{ :style => "margin-bottom: 50px;" }
      = "全%d開催" % Event.count
      \/
      = "総参加者数 約%d人" % Event.sum(:turnout)

.row
  .span12
    .lab{ :style => "margin-bottom: 50px;" }
      = link_to "エントリを登録する", new_entry_path
      \/
      = link_to "イベントを登録する", new_event_path

.row
  .span12
    %h3
      これまでの開催
    .event-banner-box
      - @events.each_with_index do |event, index|
        = render :partial => "events/banner", :as => :event, :object => event, :locals => { :mode => index % 2 == 1 ? "right-side" : nil }

.row
  .span6
    %h3
      みんなのエントリ
    .entry-board-box
      = render :partial => "entries/board", :as => :entry, :collection => @entries
