.row
  .span12
    #cover
      - @covers.each_with_index do |cover, index|
        = image_tag(cover, :size => "312x156", :class => "photo photo#{index}")
      %h1
        高専カンファレンスエフェクト
      #stats
        .stat
          .caption
            開催イベント数
          .count
            = Event.count
        .stat
          .caption
            総参加者数
          .count
            = Event.sum(:turnout)
        .stat
          .caption
            登録エフェクト
          .count
            = Effect.count

#intro
  .row
    .span4
      %h3
        %i.icon-fire
        このサイトは？
      %p
        これまでに開催された高専カンファレンスのまわりで起こったこと「エフェクト」を、それぞれの手で、ひとつずつまとめていくサイトです。
      %p
        = link_to about_path do
          %i.icon-question-sign
          もっと詳しく

    .span4
      %h3
        %i.icon-search
        エフェクトを見る
      %p
        高専カンファレンスのまわりで起こったエフェクトを「開催ごと」「人ごと」「タグごと」に探して見ることができます。
      %p
        = link_to "#events-on-top" do
          %i.icon-flag
          開催から探す
        = link_to "#users-on-top" do
          %i.icon-user
          人から探す
        = link_to "#tags-on-top" do
          %i.icon-tag
          タグから探す

    .span4
      %h3
        %i.icon-pencil
        エフェクトを載せる
      %p
        あなたが体感したエフェクトを、ぜひ載せてみてください！他のみんなと共有して、よりよいエフェクトにつなげていきましょう。
      %p
        - if signed_in?
          ページ右上の「メニュー」からどうぞ！
        - else
          = link_to sign_in_path do
            %i.icon-twitter-sign
            ユーザ登録してエフェクトを載せよう！

#events-on-top
  .row
    .span12
      %h3
        %i.icon-flag
        最近の開催イベント
      .event-banner-box
        - @events.each_with_index do |event, index|
          = render :partial => "events/banner", :as => :event, :object => event, :locals => { :mode => index % 2 == 1 ? "right-side" : nil }
      .more-events
        = link_to "開催イベントの一覧を見る", events_path

.row
  .span8
    #effects-on-top
      %h3
        %i.icon-fire
        新着エフェクト
      .effect-board-box
        = render :partial => "effects/board", :as => :effect, :collection => @effects

  .span4
    #users-on-top
      %h3
        %i.icon-user
        利用しているみなさん
      .user-icons
        - @users.each do |user|
          = link_to user_icon(user, 36), user, :class => "user-cube", :title => user.name

    #tags-on-top
      %h3
        %i.icon-tags
        エフェクトに付けられたタグ
      - @tags.each do |tag|
        - count = tag.effects.count
        - if count > 0
          = link_to "%s (%d)" % [tag.name, count], tag, :class => "tag-link", :title => "#{count}個のエフェクトがあります"
