- mode ||= nil
- count = Tag.find_by_name(event.label).effects.count

.event-banner{ :class => mode }
  %h3
    = link_to event.name, event
  .cover
    = link_to event.cover_tag(:size => "460x230"), event
  .event-info
    %i.icon-bookmark
    = event.label
    \/
    %i.icon-calendar
    = event.date
    - if count > 0
      .effect-count
        %i.icon-fire
        = "#{count}個のエフェクト"
