= form_for event, :html => { :class => "form-horizontal" } do |form|
  - if event.errors.any?
    .alert.alert-error
      %ul
        - event.errors.full_messages.each do |message|
          %li
            = message

  %fieldset
    .control-group
      %label.control-label
        連番
      .controls
        = form.text_field :label, :class => "span2"
        %p.help-block
          「001tokyo」「002hokkaido」に相当する部分を入力します
    .control-group
      %label.control-label
        イベント名
      .controls
        = form.text_field :name, :class => "span8"
    .control-group
      %label.control-label
        一行紹介文
      .controls
        = form.text_field :description, :class => "span8"
    .control-group
      %label.control-label
        参加者数
      .controls
        = form.text_field :turnout, :class => "span1"
    .control-group
      %label.control-label
        会場
      .controls
        = form.text_field :place, :class => "span8"
    .control-group
      %label.control-label
        会場住所
      .controls
        = form.text_field :address, :class => "span8"
    .control-group
      %label.control-label
        開始日
      .controls
        = form.date_select :start_at, {}, :class => "span2"
    .control-group
      %label.control-label
        終了日
      .controls
        = form.date_select :end_at, {}, :class => "span2"
    .control-group
      %label.control-label
        公式サイトURL
      .controls
        = form.text_field :url, :class => "span8"

    .control-group
      %label.control-label
        カバー画像URL
      .controls
        = form.text_field :cover_url, :class => "span8"
        %p.help-block
          「幅940px」「高さ470px」の画像のURLを指定します

    .control-group
      %label.control-label
        カバー画像オリジナルURL
      .controls
        = form.text_field :cover_original_url, :class => "span8"
        %p.help-block
          カバー画像のオリジナルの参照先があれば設定してください (FlickrのURL等)

    .control-group
      %label.control-label
        カバー画像撮影者名
      .controls
        = form.text_field :cover_original_author, :class => "span8"

    .form-actions
      = form.submit "保存する", :class => "btn"
