.event-header
  - if event.cover_url.present?
    .cover
      = event.cover_tag(:size => "940x470")
      - if event.cover_original_url.present? || event.cover_original_author.present?
        .cover-info
          - if event.cover_original_url.present? && event.cover_original_author.present?
            = link_to "Cover photo taken by #{event.cover_original_author}", event.cover_original_url, :target => "_blank"
          - elsif event.cover_original_url.present?
            = link_to "Cover photo from #{event.cover_original_url}", event.cover_original_url, :target => "_blank"
          - elsif event.cover_original_author.present?
            %span
              = "Cover photo taken by #{event.cover_original_author}"
  .event-info
    %h2
      = event.name
    %table
      %tbody
        %tr
          %td.icon
            %i.icon-bookmark
          %td
            = "kosenconf-#{event.label}"
        - if event.turnout > 0
          %tr
            %td.icon
              %i.icon-user
            %td
              = "参加者#{event.turnout}人"
        - if event.description.present?
          %tr
            %td.icon
              %i.icon-play
            %td
              = event.description
        %tr
          %td.icon
            %i.icon-calendar
          %td
            = event.date
        %tr
          %td.icon
            %i.icon-map-marker
          %td
            = event.place_and_address
        - if event.url.present?
          %tr
            %td.icon
              %i.icon-external-link
            %td
              = link_to "公式サイト", event.url, :target => "_blank"
    .control
      - if signed_in?
        = link_to edit_event_path(event) do
          %i.icon-edit
          このイベントの情報を編集する
      - else
        (サインインすると、イベントの情報を編集できます)

    - if signed_in?
      = link_to new_effect_path(:tag => event.label), :class => "btn btn-info" do
        %i.icon-fire
        このイベントに関するエフェクトを登録する
