.event-header
  - if event.cover_url.present?
    .cover
      = event.cover_tag(:size => "940x470")
  .event-info
    %h2
      = event.name
    %table
      %tbody
        %tr
          %td.icon
            %i.icon-bookmark
          %td
            = "kosenconf-#{event.label}"
        - if event.description.present?
          %tr
            %td.icon
              %i.icon-edit
            %td
              = event.description
        %tr
          %td.icon
            %i.icon-calendar
          %td
            = event.date
        %tr
          %td.icon
            %i.icon-map-marker
          %td
            = event.place_and_address
        - if event.url.present?
          %tr
            %td.icon
              %i.icon-external-link
            %td
              = link_to "公式サイト", event.url, :target => "_blank"
  .control
    - if signed_in?
      %ul
        %li
          = link_to "このイベントの情報を編集する", edit_event_path(event)
        %li
          = link_to "このイベントに関するエフェクトを登録する", new_effect_path(:tag => event.label)

    - else
      (サインインすると、イベントの情報を編集できます)
