.row
  .span12
    .events-index
      %h3
        %i.icon-flag
        = @title
      .stats
        %i.icon-flag
        = "全%d開催" % Event.count
        \/
        %i.icon-user
        = "総参加者数 約%d人" % Event.sum(:turnout)
      .events-in-year
        .row
          .span4
            %ul.nav.nav-list
              - [2008, 2009, 2010].each do |year|
                %li.nav-header
                  = year
                - @events.select { |event| event.start_at.year == year }.each do |event|
                  %li
                    = link_to event.name, event
          .span4
            %ul.nav.nav-list
              %li.nav-header
                2011
              - @events.select { |event| event.start_at.year == 2011 }.each do |event|
                %li
                  = link_to event.name, event
          .span4
            %ul.nav.nav-list
              - [2012, 2013].each do |year|
                %li.nav-header
                  = year
                - @events.select { |event| event.start_at.year == year }.each do |event|
                  %li
                    = link_to event.name, event

      .event-banner-box
        - @events.each_with_index do |event, index|
          = render :partial => "events/banner", :as => :event, :object => event, :locals => { :mode => index % 2 == 1 ? "right-side" : nil }
