.effect-board{ :class => "effect-#{effect.id}" }
  .head
    - user = effect.user
    = link_to user_icon(user, 36), user
    = link_to user.name, user
    - if current_user == user
      \/
      = link_to "編集する", edit_effect_path(effect)
    .date
      %span.badge
        %i.icon-calendar
        = effect.effected_at.to_s(:ymd)
  .body
    - if effect.comment.present?
      .comment
        = effect.comment
    .preview-box
    .url
      = link_to effect.url, effect.url
  .social-widgets
    %span.facebook-like
      :plain
        <iframe src="//www.facebook.com/plugins/like.php?href=#{CGI.escape(effect.url)}&amp;send=false&amp;layout=button_count&amp;width=120&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=371618846211228" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:21px;" allowTransparency="true"></iframe>
    %span.twitter-tweet
      :plain
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="#{effect.url}" data-via="kosenconf" data-hashtags="kosenconf">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    %span.hatena-star
  .foot
    %a.favorite{ :href => root_path, :title => "このエントリをお気に入り登録する" }
      %i.icon-star-empty
      Favorite

:javascript
  preview("#{effect.url}", function(result) {
    $(".effect-#{effect.id} .body .preview-box").empty().append(result);
  });
  $("a.favorite").tooltip({ placement: "right" })
