- tag ||= nil

= form_for effect, :html => { :class => "form-horizontal effect-form" } do |form|
  - if effect.errors.any?
    .alert.alert-error
      %ul
        - effect.errors.full_messages.each do |message|
          %li
            = message

  %fieldset
    .control-group
      %label.control-label
        URL (必須)
      .controls
        = form.text_field :url, :class => "span6"
    .control-group
      %label.control-label
        一言
      .controls
        = form.text_field :comment, :class => "span6"
    .control-group
      %label.control-label
        いつのこと？
      .controls
        = form.datetime_select :effected_at, {}, :class => "span2"
        %p.help-block
          詳細な時刻まで入力する必要はありませんが、ユーザページでは、このデータの新しいものから順にエフェクトが表示されます。
    .control-group
      %label.control-label
        タグ
      .controls
        = form.text_field :tags, :class => "span6", :value => (tag || effect.tags.map(&:name).join(" "))
        %p.help-block
          このエフェクトに関連するタグを付与して整理に役立てることができます。タグはスペース区切りで入力してください。
        %p.help-block
          下記のタグの一覧から選択して入力することもできます。
        %p.help-block.tag-list
          - Tag.order("category DESC, name").each do |tag|
            %span.tag-selector
              = tag.name
    .form-actions
      = form.submit "保存する", :class => "btn"

= javascript_include_tag "effect-form"
