!!! 5
%html
  %head
    %title 高専カンファレンスエフェクト
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #panel
      = image_tag("panel.png", :size => "2400x600", :class => "panel")

    %header
      %h1
        高専カンファレンスエフェクト
      %h2
        Kosen Conference Effect
    .container
      #main
        = yield
    %footer
      %p
        By Team Kosen Conference Effect
