!!! 5
%html
  %head
    - title = [@title, "高専カンファレンスエフェクト #kosenconf"].compact.join(" - ")
    - image       = @og_image       || (root_url + "square.png")
    - description = @og_description || "高専カンファレンスから生まれた「エフェクト」を集めるサイトです。"

    %title
      = title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{ :type => "text/javascript", :src => "http://s.hatena.ne.jp/js/HatenaStar.js" }
    :javascript
      Hatena.Star.SiteConfig = {
        entryNodes: {
          'div.effect-board': {
            uri: '.body .url a',
            title: '.body .url a',
            container: '.social-widgets .hatena-star'
          }
        }
      };
    :javascript
      var embedlyApiKey = "#{Settings.embedly.api_key}";
    = csrf_meta_tags

    %meta{ :charset => "UTF-8" }
    %meta{ :name => "description", :content => description }
    %meta{ :name => "keywords",    :content => "高専カンファレンスエフェクト,Kosen Conference Effect,kceffect,高専カンファレンス,Kosen Conference,kosenconf,高専,kosen" }
    %meta{ :property => "og:type",        :content => "website" }
    %meta{ :property => "og:site_name",   :content => "高専カンファレンスエフェクト" }
    %meta{ :property => "og:title",       :content => title }
    %meta{ :property => "og:image",       :content => image }
    %meta{ :property => "og:description", :content => description }

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %h1
            = link_to root_path, :class => "brand" do
              %i.icon-fire
              高専カンファレンスエフェクト
              %i.icon-fire

          - if signed_in?
            %ul.nav.pull-right
              %li
                = link_to image_tag(current_user.icon_url, :size => "20x20"), current_user
              %li.dropdown
                %a.dropdown-toggle{ "data-toggle" => "dropdown", "href" => "#" }
                  メニュー
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to current_user do
                      %i.icon-home
                      マイページを見る
                  %li
                    = link_to new_effect_path do
                      %i.icon-fire
                      エフェクトを載せる
                  %li
                    = link_to new_event_path do
                      %i.icon-calendar
                      開催情報を登録する
                  %li.divider
                  %li
                    = link_to sign_out_path, :method => :delete, do
                      %i.icon-signout
                      サインアウトする
          - else
            -# %ul.nav.pull-right
            -#   %li
            -#     = link_to sign_in_path do
            -#       %i.icon-twitter-sign
            -#       Twitterアカウントでサインイン

    #main
      .container
        = yield

    %footer
      .container
        = render :partial => "welcome/widgets"
        %p
          = Time.now.year
          Team KCEffect
