!!! 5
%html
  %head
    %title 高専カンファレンスエフェクト #kosenconf
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{ :type => "text/javascript", :src => "http://s.hatena.ne.jp/js/HatenaStar.js" }
    :javascript
      Hatena.Star.SiteConfig = {
        entryNodes: {
          'div.entry-board': {
            uri: '.body .url a',
            title: '.body .url a',
            container: '.social-widgets .hatena-star'
          }
        }
      };
    :javascript
      var embedlyApiKey = "#{Settings.embedly.api_key}";
    = csrf_meta_tags

  %body
    #control
      .container
        - if signed_in?
          Signed in as
          = image_tag(current_user.icon_url, :size => "24x24")
          = current_user.name
          = link_to "サインアウト", sign_out_path, :method => :delete
        - else
          = link_to "サインイン", sign_in_path

    %header
      %h1
        高専カンファレンスエフェクト
      %h2
        Kosen Conference Effect
    .container
      #main
        = yield
    %footer
      %p
        = Time.now.year
        Team KCEffect
