!!! 5
%html
  %head
    - title = [@title, "高専カンファレンスエフェクト #kosenconf"].compact.join(" - ")
    - image       = @og_image       || (root_url + "square.png")
    - description = @og_description || "高専カンファレンスから生まれた「エフェクト」を集めるサイトです。"

    %title
      = title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{ :type => "text/javascript", :src => "http://s.hatena.ne.jp/js/HatenaStar.js" }
    :javascript
      Hatena.Star.SiteConfig = {
        entryNodes: {
          'div.effect-board': {
            uri: '.body .url a',
            title: '.body .url a',
            container: '.social-widgets .hatena-star'
          },
          'div.effect-date-oriented': {
            uri: '.main .body .link a',
            title: '.main .body .link a',
            container: '.main .body .popover-box .popover .widgets .hatena-star'
          }
        }
      };
    :javascript
      var embedlyApiKey = "#{Settings.embedly.api_key}";
    = csrf_meta_tags

    %meta{ :charset => "UTF-8" }
    %meta{ :name => "description", :content => description }
    %meta{ :name => "keywords",    :content => "高専カンファレンスエフェクト,Kosen Conference Effect,kceffect,高専カンファレンス,Kosen Conference,kosenconf,高専,kosen" }
    %meta{ :property => "og:type",        :content => "website" }
    %meta{ :property => "og:site_name",   :content => "高専カンファレンスエフェクト" }
    %meta{ :property => "og:title",       :content => title }
    %meta{ :property => "og:image",       :content => image }
    %meta{ :property => "og:description", :content => description }

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %h1
            = link_to root_path, :class => "brand" do
              高専カンファレンスエフェクト
          %ul.nav
            %li
              = link_to effects_path do
                %i.icon-fire
                エフェクト一覧
            %li
              = link_to events_path do
                %i.icon-flag
                開催イベント一覧

          - if signed_in?
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle.btn-menu{ "data-toggle" => "dropdown", "href" => "#" }
                  %i.icon-list{ :style => "font-size: 170%;" }
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to current_user do
                      %i.icon-home
                      マイページを見る
                  %li
                    = link_to new_event_path do
                      %i.icon-calendar
                      開催情報を登録する
                  %li.divider
                  %li
                    = link_to sign_out_path, :method => :delete, do
                      %i.icon-signout
                      サインアウトする
          - else
            %ul.nav.pull-right
              %li
                = link_to sign_in_path do
                  %i.icon-twitter-sign
                  サインイン
          %ul.nav.pull-right
            - unless @hide_new_effect_button
              %li
                - path = signed_in? ? new_effect_path : sign_in_path
                = link_to path, :class => "btn btn-warning btn-new-effect" do
                  %i.icon-pencil
                  エフェクトをのせる

    #main
      .container{ :class => @show_timeline ? "timeline" : nil }
        = yield

    %footer
      .container
        - if @social_footer
          = render :partial => "welcome/widgets"
        %p
          = link_to about_path do
            Team KCEffect
