!!! 5
%html
  %head
    %title 高専カンファレンスエフェクト #kosenconf
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    :javascript
      var embedlyApiKey = "#{Settings.embedly.api_key}";
  %body
    #control
      .container
        - if signed_in?
          Signed in as
          = image_tag(current_user.icon_url, :size => "24x24")
          = current_user.name
          = link_to "サインアウト", sign_out_path, :method => :delete
        - else
          = link_to "サインイン", sign_in_path

    %header
      %h1
        高専カンファレンスエフェクト
      %h2
        Kosen Conference Effect
    .container
      #main
        = yield
    %footer
      %p
        = Time.now.year
        Team KCEffect
